/* CSS File for Large Screens Only */

@media only screen and (min-width: 401px) and (min-height:401px) {

/* Start Hovering CSS */

.opacity-away {
    opacity: 1;
    transition: all .4s ease;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

.opacity-away:hover {
    opacity: 1;
    transition: all .4s ease;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

.opacity-hover {
    opacity: 1;
    transition: all .4s ease;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

.opacity-hover:hover {
    opacity: 0.4;
    transition: all .4s ease;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}

/* End Hovering CSS */

/* Start Example Container CSS */
.divBack{
    color: black;
}

#Wrapper {
    display:grid;
    grid-template-columns: repeat(3,min-content 1%);
    grid-template-rows: 25% 25% auto auto;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.roundGray {
    background-color: gainsboro;
    border: 3px solid #bbbbbb;
    border-radius: 15px;
    padding-left: 2%;
}

.divContainer {
    grid-area: 1/1/3/5;
    align-self:stretch;
}

.divIngredient {
    background-color: gainsboro;
    border: 3px solid #bbbbbb;
    border-radius: 15px;
    padding-left: 2%;
    color: black;
    grid-area: 3/1/4/3;
    align-self:stretch;
}

.divMaterials {
    background-color: gainsboro;
    border: 3px solid #bbbbbb;
    border-radius: 15px;
    padding-left: 2%;
    color: black;
    grid-area: 3/3/4/6;
    align-self:stretch;
}

.divName {
    color: black;
    font-size: 400%;
    grid-area: 1/1/3/2;
    padding-left: 15px;
    align-self: center;
    border-radius: 15px;
    white-space: nowrap;
}

.divServings {
    color: black;
    grid-area: 1/3/2/4;
    align-self: end;
}

.divSteps {
    background-color: gainsboro;
    border: 3px solid #bbbbbb;
    border-radius: 15px;
    padding-left: 2%;
    color: black;
    grid-area: 4/1/5/6;
    align-self:stretch;
}

.divTime {
    color: black;
    grid-area: 2/3/3/4;
    align-self:stretch;
}

/* End Example Container CSS */
}