/* CSS File for Mobile Screens Only */

@media only screen and (max-width: 400px) and (max-height:800px) {

/* Start Example Container CSS */

.body{
    background-color: yellow;
}

.divBack{
    color: black;
}

.gridArray {
    display:grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: min-content 1fr 1fr;
    gap: 10px;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 50px;
    color: black;
    min-height: 90%;
}

.wrapper{
    text-align: left;
    grid-area: 1/1/2/3;
}

.subWrapper{
    display: inline-block;
    vertical-align: middle;
}

.divName {
    display: inline-block;
    vertical-align: middle;

    font-size: 400%;
    padding-left: 15px;
    white-space: nowrap;
}

.divServings, .divTime {
    padding-left: 50px;
}

.divIngredient {
    grid-area: 2/1/3/2;
}

.divMaterials {
    grid-area: 2/2/3/3;
}

.divSteps {
    grid-area: 3/1/4/3;
    padding: 1%;
}

.wrapper, .divIngredient, .divMaterials {
    padding: 2%;
}

.roundGray {
    background-color: gainsboro;
    border: 3px solid #bbbbbb;
    border-radius: 15px;
}

/* End Example Container CSS */
}