.bigwrapper {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    grid-area: 1/1/2/2;
}
.miniwrapper {
    display: inline-block;
    vertical-align: middle;
}
.child1 {
    display: inline-block;
    vertical-align: middle;
}
.textbox {
    border: 1px solid red;
    padding: 1rem 1rem;
}

.megawrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}