@media only screen and (orientation:portrait) {
    body{
        background-color: #e4e3e9;
        color: white;
        font-family: neue-kabel,sans-serif;
        font-weight: 400;
        font-style: normal;
      }

        #board {display: none;}
        #redRow {display: none;}      
        #yellowRow {display: none;}      
        #greenRow {display: none;}      
        #blueRow {display: none;}      
      .redBox {display: none;}      
      .yellowBox {display: none;}      
      .greenBox {display: none;}      
      .blueBox {display: none;}      
      .rowLock {display: none;}                        
      
      #points{display: none;}      
      .topPoints{display: none;}      
      .bottomPoints{display: none;}      
      .pointsBox{display: none;}      
      .smallText{display: none;}      
      .penaltyBox{display: none;}      
      .lineAbove{display: none;}
                      
      #scores{display: none;}      
      #grayRow {display: none;}      
      .whiteBox {display: none;}      
      .boxCross{display: none;}      
      .circleCross{display: none;}      
      .penaltyCross{display: none;}      
      .clicks{display: none;}      
      .penaltyClicks{display: none;}

      .centerDivFrame{display: flex;}
}