body {
    background-image: url(../img/wood_bg.jpg);
    background-size: 100vw 100vh;
    background-repeat:no-repeat;
    background-position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    overflow: hidden;

    /*justify-content: center;
    align-items: center;*/

    width: 100vw;
    height: 1020vh;
    font-size: 300%;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
}


#pageTitle {
    height: 0vh;
    width: 100vw;
    padding-top: 5vh;
    font-size: 4vh;
    position: absolute;
    text-align: center;
    text-shadow: -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000;
    color: #fffdd0;
}

#CalFrame {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding-left: 3vw;  
    padding-right:3vw;
    padding-top: 5vw;  
  
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  
    display: grid;
    grid-template-columns: 30vw, repeat(3,2vw);
    grid-template-rows: repeat(8,7vh);
    column-gap: 5vw;
    row-gap: 3vh;
  }

  .dayFrame{
    border: solid;
    border-width: 3px;
    border-color: #afad00;
    height: 7vh;
    border-radius: 2vh;
}

  .Day{
    background-color: #fffdd0;
    border: solid;
    border-color: #0afad0;
    border-width: 2px;
    border-radius: 8px;
    height: 7vh;
    width: 30vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

/* Begin CSS for toggle switches */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: relative;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 2.5vh;
    height: 5.5vh;
    background: grey;
    display: flex;
    border-radius: 2.5vh;
    position: relative;
    align-self: center;
}

label:after {
    content: '';
    position: absolute;
    bottom: 0.125vh; /* Adjusted starting position */
    left: 0.125vh;
    width: 2.25vh;
    height: 2.25vh;
    background: #fff;
    border-radius: 2.25vh;
    transition: 0.3s;
}

input:checked.T1 + label {
    background: #b4d9ef;
}
input:checked.T2 + label {
    background: #f69697;
}
input:checked.T3 + label {
    background: #bee5b0;
}

input:checked + label:after {
    bottom: calc(100% - 0.125vh); /* Adjusted position for checked state */
    transform: translateY(100%);
}

label:active:after {
    height: 3.25vh;
}
  
/* End CSS for toggle switches */

.goalHeader {
    height: 0vh;
    width: 100vw;
    padding-top: 5vh;
    font-size: 2.5vh;
    position: absolute;
    text-align: center;
    text-shadow: -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000;
    
}

.form-input {
    color: #000;
    height: 3vh;
    width: 40vw;
    font-size: xx-large;

    border: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    border-bottom: 1px solid #000; /* You can change the color to your preference */
    text-shadow: -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000;
    padding-left: 10px;
}

