body {
    background-image: url(../img/Background.webp);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-attachment: fixed;
    background-position:fixed;

    width: 100vw;
    height: 100vh;
    font-size: 300%;
    margin: 0;
}

input{
  font-size: 50%;
}

p {
 margin-top: 3vh;
 margin-bottom: 3vh;
}
